{% extends "base.html" %}

{% block content %}

    <div class="fleft">
        <h3>Quorum</h3>
        {% for q in quorum_list %}

            <ul>
                <li>{{q.person.name}}: {{q.lunch}}</li>
            </ul>

        {% endfor %}
    </div>

    <div class="fleft">
        <h3>Places</h3>

        <table>
            <tr>
                <th>Place</th>
                <th>Blacklisted by</th>
            </tr>

        {% for p in places %}
            <tr class="{% if not p.active %}off{% endif %}">
                <td>{{p.name}}</td>
                <td>{{p.blacklisted_by}}</td>
            </tr>
        {% endfor %}

        </table>
    </div>

{% endblock content %}

{% block css %}
    table, th{
        border: 2px solid black;
        border-collapse: collapse;
    }
    tr{
        margin: 0;
    }
    tr.off{
        text-decoration: line-through;
    }
    td, th{
        padding: .3em 1em;
        border-right: 2px solid black;
    }
    div.fleft{
        float: left;
        width: 45%;
        margin: 1%;
    }
{% endblock css %}